@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unica One', cursive;
    color: rgba(226, 226, 226, 0.897);
}
body{
    min-height: 100vh;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.back{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('../assets/hgbcg.jpeg'),rgba(100, 100, 100, 0.5);
    background-blend-mode: saturation;
    background-size: 100% 100%;
} 
h1{
    font-size: 2.25rem;
    width: 100%;
    margin-top: 5%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    color: rgba(226, 226, 226, 0.897);
    text-shadow: 2px 2px #000;
}
.content{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    /* align-items: center; */
    justify-content: space-evenly;
    grid-row-gap: 5%;
    margin-top: 5%;
}
.content img{
    width: 100%;
    max-height: 250px;
}
.content h4{
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
    text-shadow: 1px 1px white;
    position: relative;
}
.content h4::before{
    content: '';
    position: absolute;
    background-color: black;
    width: 40px;
    height: 3px;
    z-index: 100;
    bottom: -5px;
    animation: underline 2500ms linear infinite forwards;
    display: none;
}
.content h4:hover::before{
    display: block;
}
.main{
    padding-bottom: 10%;
}
@media screen and (max-width: 550px) {
    .content{
        grid-template-columns: 90%;
    }
}
@keyframes underline {
    0%{
        width: 40px;
    }
    25%{
        width: 110px;
    }
    50%{
        width: 40px;
        transform: translateX(110px);
    }
    75%{
        width: 110px;
    }
    100%{
        width: 40px;
    }
}